@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: bjola;
  src: url('/font/SVN-Bjola.otf');
}

@font-face {
  font-family: Little Pea;
  src: url('/font/SVN-Little Pea.otf');
}

@font-face {
  font-family: Patrick Hand;
  src: url('/font/PatrickHand-Regular.ttf');
}

body {
  font: normal 100% 'Patrick Hand', 'Little Pea', 'Fira Sans', sans-serif;
}

@responsive {
  .translate-x-f20 {
    --transform-translate-x: calc(2rem - 100%);
  }

  .-translate-x-f20 {
    --transform-translate-x: calc(-2rem + 100%);
  }

  .translate-x-f25 {
    --transform-translate-x: calc(2.5rem - 100%);
  }

  .-translate-x-f25 {
    --transform-translate-x: calc(-2.5rem + 100%);
  }

  .translate-x-f30 {
    --transform-translate-x: calc(3rem - 100%);
  }

  .-translate-x-f30 {
    --transform-translate-x: calc(-3rem + 100%);
  }

  .translate-x-f3d25 {
    --transform-translate-x: calc(3.25rem - 100%);
  }

  .-translate-x-f3d25 {
    --transform-translate-x: calc(-3.25rem + 100%);
  }

  .translate-x-f35 {
    --transform-translate-x: calc(3.5rem - 100%);
  }

  .-translate-x-f35 {
    --transform-translate-x: calc(-3.5rem + 100%);
  }

  .translate-x-f3d65 {
    --transform-translate-x: calc(3.65rem - 100%);
  }

  .-translate-x-f3d65 {
    --transform-translate-x: calc(-3.65rem + 100%);
  }

  .translate-x-f3d75 {
    --transform-translate-x: calc(3.75rem - 100%);
  }

  .-translate-x-f3d75 {
    --transform-translate-x: calc(-3.75rem + 100%);
  }
}
